<h2>Eventos</h2>

<hr>

<div class="row row-cols-lg-auto g-3 align-items-center">
  <div>
    <div class="input-group">
      <label class="input-group-text">Filtro</label>
      <input type="text" class="form-control" placeholder="Buscar" [(ngModel)]="filtroLista" />
    </div>
  </div>
</div>
<hr>
<table class="table">
  <thead class="table-dark">
    <tr>
      <th class="text-center" scope="col"><button class="btn btn-outline-light btn-sm"
          (click)="alternarImagem()">{{!mostrarImagem ? 'Mostrar' : 'Ocultar'}}</button></th>
      <th class="text-center" scope="col">#</th>
      <th class="text-center" scope="col">Tema</th>
      <th class="text-center" scope="col">Local</th>
      <th class="text-center" scope="col">Data</th>
      <th class="text-center" scope="col">Pessoas</th>
      <th class="text-center" scope="col">Lote</th>
      <th class="text-center" scope="col">Opções</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let evento of eventosFiltrados">
      <td class="text-center">
        <div [collapse]="!mostrarImagem" [isAnimated]="true">
          <img class="thumbnail" src="/assets/images/{{evento.imagemURL}}" [style.width.px]="tamanhoImagem"
            [style.margin.px]="margemImagem" alt="Imagem do evento">
        </div>
      </td>
      <th class="text-center" scope="row">{{evento.id}}</th>
      <td class="text-center">{{evento.tema}}</td>
      <td class="text-center">{{evento.local}}</td>
      <td class="text-center">{{evento.dataEvento}}</td>
      <td class="text-center">{{evento.quantidadePessoas}}</td>
      <td class="text-center">{{evento.lote}}</td>
      <td class="text-center">
        <button class="btn btn-primary btn-sm me-2">Editar</button>
        <button class="btn btn-danger btn-sm">Excluir</button>
      </td>
    </tr>

  </tbody>
  <tfoot *ngIf="eventos.length == 0">
    <tr>
      <td colspan="8" class="text-center">Nenhum evento cadastrado</td>
    </tr>
  </tfoot>
</table>