<h2>Eventos</h2>

<hr>

<form class="row row-cols-lg-auto g-3 align-items-center" action="">
    <div>
      <label class="visually-hidden" for="inlineFormInputGroupUsername"></label>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Buscar" />
      </div>
    </div>
    <div>
      <button type="submit" class="btn btn-outline-success">Buscar</button>
    </div>
  </form>
  <hr>
 
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th class="text-center" scope="col">#</th>
        <th class="text-center" scope="col">Imagem</th>
        <th class="text-center" scope="col">Tema</th>
        <th class="text-center" scope="col">Data</th>
        <th class="text-center" scope="col">Pessoas</th>
        <th class="text-center" scope="col">Lote</th>
        <th class="text-center" scope="col">Opções</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="text-center" scope="row">1</th>
        <td class="text-center">A</td>
        <td class="text-center">B</td>
        <td class="text-center">C</td>
        <td class="text-center">D</td>
        <td class="text-center">E</td>
        <td class="text-center">F</td>
      </tr>
    </tbody>
  </table>