/* A classe abaixo é utilizada para definir o tamanho das imagens dos eventos 
   na página de eventos para que todas fiquem com o mesmo tamanho. */
.thumbnail {
    width: 20vw;
    height: calc(20vw * 2 / 4);
    max-width: 300px;
    max-height: calc(300px * 2 / 4);
    min-width: 150px;
    min-height: calc(150px * 2 / 4);
    object-fit: cover;
}