<div class="d-flex p-3 my-3 text-white bg-secondary rounded shadow-sm">
    <div class="d-flex align-items-center me-auto">
        <i class="{{classeIcone}} me-3"></i>
        <div class="lh-lg">
            <h2 class="mb-0">{{tituloPagina}}</h2>
            <small>{{subtituloPagina}}</small>
        </div>
    </div>
    <div class="p-3" *ngIf="botaoListar">
        <button class="btn btn-outline-light" (click)="listar()">
            Listar {{tituloPagina}}
        </button>
    </div>
</div>

