<div class="d-flex align-items-center justify-content-center vh-100 login-container">
    <div class="card shadow p-4">
        <div class="card-body">
            <div class="text-center mb-4">
                <i class="fa fa-users fa-3x"></i>
                <h2 class="mt-2">ProEventos</h2>
            </div>
            <form class="form-signin">
                <div class="mb-3">
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                        <input type="email" id="username" class="form-control" placeholder="Usuário" name="username"
                            required>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa fa-lock"></i></span>
                        <input type="password" id="password" class="form-control" placeholder="Senha" name="password"
                            required>
                    </div>
                </div>
                <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">Entrar</button>
                <div class="text-center mt-3">
                    <p class="text-muted">Não tem login? Cadastre-se abaixo</p>
                    <a class="btn btn-lg btn-link">Quero me cadastrar</a>
                </div>
            </form>
        </div>
    </div>
</div>